Repository auth0/auth0-PHP, pull requests merged in 2023-01, with the labels that each got.

#696 build(export): exclude unnecessary files from dist package
  .gitattributes
Labels: Type: 🔧 Maintenance, Status: 👍 Accepted, Status: 🤞 Run Tests

#697 test: Expand Test Coverage
  src/Configuration/SdkConfiguration.php
  src/Configuration/SdkState.php
  tests/Unit/API/AuthenticationTest.php
  tests/Unit/API/Management/ActionsTest.php
  tests/Unit/API/Management/AttackProtectionTest.php
  tests/Unit/API/Management/ClientGrantsTest.php
  tests/Unit/API/Management/DeviceCredentialsTest.php
  tests/Unit/API/Management/EmailTemplatesTest.php
  tests/Unit/API/Management/EmailsTest.php
  tests/Unit/API/Management/ManagementEndpointTest.php
  tests/Unit/API/Management/OrganizationsTest.php
  tests/Unit/API/ManagementTest.php
  tests/Unit/Auth0Test.php
  tests/Unit/Configuration/SdkConfigurationTest.php
  tests/Unit/Configuration/SdkStateTest.php
  tests/Unit/Mixins/ConfigurableMixinTest.php
  tests/Unit/Store/CookieStoreTest.php
  tests/Unit/Store/Psr14StoreTest.php
  tests/Unit/Token/ParserTest.php
  tests/Unit/Token/ValidatorTest.php
  tests/Unit/Token/VerifierTest.php
  tests/Unit/TokenTest.php
  tests/Unit/Utility/HttpRequestTest.php
  tests/Unit/Utility/HttpResponsePaginatorTest.php
  tests/Unit/Utility/PKCETest.php
  tests/Unit/Utility/Toolkit/AssertTest.php
  tests/Unit/Utility/Toolkit/Filter/ArrayFilterTest.php
  tests/Unit/Utility/ToolkitTest.php
  tests/Utilities/MockConfiguration.php
  tests/Utilities/MockPsr14StoreListener.php
  tests/Utilities/MockStore.php
  tests/Utilities/ObjectMutator.php
Labels: Status: ⏳ Needs Review, Type: 🧪 Tests, Status: 🤞 Run Tests

#698 feat: Add Token generator support
  phpunit.xml.dist
  src/Contract/Token/GeneratorInterface.php
  src/Contract/TokenInterface.php
  src/Exception/TokenException.php
  src/Token.php
  src/Token/Generator.php
  tests/Unit/Token/GeneratorTest.php
  tests/Utilities/Chaos.php
  tests/Utilities/TokenGenerator.php
Labels: CH: Added, Type: ⭐ Enhancement

#699 feat(Authentication): Add support for Client Assertion
  src/API/Authentication.php
  src/Configuration/SdkConfiguration.php
  src/Exception/ConfigurationException.php
  src/Exception/TokenException.php
  src/Token.php
  src/Token/ClientAssertionGenerator.php
  src/Token/Generator.php
  src/Token/Verifier.php
  tests/Unit/API/AuthenticationTest.php
  tests/Unit/Configuration/SdkConfigurationTest.php
  tests/Unit/Token/ClientAssertionGeneratorTest.php
  tests/Unit/Token/GeneratorTest.php
  tests/Utilities/TokenGenerator.php
Labels: CH: Added, Type: ⭐ Enhancement, Status: 🤞 Run Tests

#700 feat(Management): Add support for client credentials endpoints
  src/API/Management/Clients.php
  src/Contract/API/Management/ClientsInterface.php
  tests/Unit/API/Management/ClientsTest.php
Labels: CH: Added, Type: ⭐ Enhancement, Status: 🤞 Run Tests

#701 chore(dependencies): Remove `firebase/php-jwt`
  composer.json
Labels: CH: Changed, Status: 🤞 Run Tests

#702 feat: Add method deleteAllAuthenticators to the users management api
  src/API/Management/Users.php
  src/Contract/API/Management/UsersInterface.php
  tests/Unit/API/Management/UsersTest.php
Labels: Type: ⭐ Enhancement, Status: 👍 Accepted, Status: 🤞 Run Tests
